*{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#full_logo{
    display: flex;
    margin-top: 8%;
    margin-bottom: 2%;
    height: 31%;
    width: 42.5%;
}
#welcomeText{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: lighter;
    margin-top: 7%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-size:large;
}
#container1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 5%;
}
.mailAndPass{
    background-color: #E4E3E3;
    border-radius: 30px;
    width:120%;
    padding: 3%;
    border-color:#FFBE48;
    text-align: center;
    margin: 4%;
}
#login{
    background-color: #FF7C7C;
    font-weight: bolder;
    border: transparent;
    border-radius: 30px;
    color: whitesmoke;
    width:95%;
    padding:5%;
    margin-top: 10%;
}
#acc_creation{
    flex-direction: row;
    justify-content: center;
    background-color: #FFBE48;
    border: transparent;
    border-radius: 30px;
    color:black;
    padding-top:  1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#containerLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#googleLogin, #facebookLogin{
    background-color: none;
    padding:3%;
    cursor: pointer;
    width: 10%;
    height: 10%;
}
#subcontainer{
    display: inline-block;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 5%;
    font-style: italic;
}
/* SECOND VIEW SIGN IN */
#logo_hexagonal{
    display: flex;
    margin-top: 10%;
    height: 20%;
    width: 20%;
}
#welcomeText2{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-repeat: repeat;
    background-position: center;
    background-size: flex-end, flex-end;
}
#creat_acc{
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    text-align: center;
    flex-direction: column;
    align-items: center;
}
=======
    background-color: #FFBE48;
    border: transparent;
    border-radius: 30px;
    color:black;
    padding-top:  3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    margin-top: 10%;
}
#footer_img{
    display: flex;
    height: 50%;
    width: 50%;
}
>>>>>>> 90a61ca893edddae2f281a84972736e9c52306bc
