*{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#full_logo{
    display: flex;
    margin-top: 8%;
    margin-bottom: 2%;
    height: 31%;
    width: 42.5%;
}
#welcomeText{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: lighter;
    margin-top: 7%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-size:large;
}
#container1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 5%;
}
.mailAndPass{
    background-color: #E4E3E3;
    border-radius: 30px;
    width:120%;
    padding: 3%;
    border-color:#FFBE48;
    text-align: center;
    margin: 4%;
}
#login{
    background-color: #FF7C7C;
    font-weight: bolder;
    border: transparent;
    border-radius: 30px;
    color: whitesmoke;
    width:95%;
    padding:5%;
    margin-top: 10%;
}
#acc_creation{
    flex-direction: row;
    justify-content: center;
    background-color: #FFBE48;
    border: transparent;
    border-radius: 30px;
    color:black;
    padding-top:  1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#showPass{
    height: 5%;
    width: 5%;
    cursor: pointer;
}
#containerLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#googleLogin, #facebookLogin{
    background-color: none;
    padding:3%;
    cursor: pointer;
    width: 10%;
    height: 10%;
}
#subcontainer{
    display: inline-block;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 5%;
    font-style: italic;
}
/* SECOND VIEW SIGN IN */
#logo_hexagonal{
    display: flex;
    margin-top: 10%;
    height: 20%;
    width: 20%;
}
#welcomeText2{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-repeat: repeat;
    background-position: center;
    background-size: flex-end, flex-end;
}
#creat_acc{
    flex-direction: row;
    justify-content: center;
    background-color: #FFBE48;
    border: transparent;
    border-radius: 30px;
    color:black;
    padding-top:  3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    margin-top: 10%;
}
#footer_img{
    display: flex;
    height: 50%;
    width: 50%;
}

/* TIME LINE VIEW */
#timeLineDive{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
header{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-around;
    align-content: center;
}
#profile{
    height: 10%;
    width: 10%;
    cursor: pointer;
}
#logo_hexagonal2{    
    height: 15%;
    width: 15%;
}
#inbox{
    height: 10%;
    width: 10%;
}

#postContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
#likeDiv{
    display: flex;
    justify-content: center;
}
#likeB{
    height: 10%;
    width: 10%;
}

#logOutAct{
    background-color: #FF7C7C;
    font-weight: bolder;
    border: transparent;
    border-radius: 30px;
    color: white;
    width:25%;
    /* padding:5%; */
}

#newPost{
    border: 2px solid #FFBE48;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#postButton{
    background-color: #FFBE48;
    border: transparent;
    border-radius: 30px;
    color:black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    width: 30%;
    align-self: center;
    
}

article{
    border: 2px solid #FFBE48;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

#logo_hex{
    display: flex;
    align-self: start;
    height: 20%;
    width: 20%;
}

#mainFooter{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    background-color: #FF7C7C;
    background-attachment: fixed;
    bottom: 0%;
}
#homeFooter{
    height: 10%;
    width: 13%;
}
#searchFooter{
    height: 10%;
    width: 10%;
    align-self: center;
    
}